.vs/
JitLogger/bin/
JitLogger/obj/
JitLoggerDemo/bin/
JitLoggerDemo/obj/
JitLoggerSampleApplications/BasicUsageOfJitLogger/BasicUsageOfJitLogger/bin/
JitLoggerSampleApplications/BasicUsageOfJitLogger/BasicUsageOfJitLogger/obj/
